Package: duetsoftwareframework
Version: DSFVER
Section: electronics
Priority: standard
Architecture: TARGET_ARCH
Depends: duetcontrolserver (= DSFVER), duetsd (= SDVER), duettools (= DSFVER), duetwebserver (= DSFVER), duetwebcontrol (= DWCVER), reprapfirmware (>= DSFVER-1), reprapfirmware (<= DSFVER-999)
Recommends: duetpluginservice (= DSFVER)
Maintainer: Duet3D Packaging Authority <pkg@duet3d.com>
Homepage: https://pkg.duet3d.com
Vcs-Git: https://github.com/Duet3D/DuetSoftwareFramework.git
Description: Meta package for the full Duet software framework
