Package: duetsoftwareframework
Version: DCSVER
Section: electronics
Priority: standard
Architecture: TARGET_ARCH
Depends: duetcontrolserver (= DCSVER), duetsd (= SDVER), duettools (= DCSVER), duetwebserver (= DWSVER), duetwebcontrol (= DWCVER), reprapfirmware (>= DCSVER-1), reprapfirmware (<= DCSVER-999)
Maintainer: Duet3D Packaging Authority <pkg@duet3d.com>
Homepage: https://pkg.duet3d.com
Vcs-Git: https://github.com/Duet3D/DuetSoftwareFramework.git
Description: Meta package for the full Duet software framework
