Package: duetcontrolserver
Version: DCSVER
Section: electronics
Priority: standard
Architecture: TARGET_ARCH
Depends: duetsoftwareframework (>= 3.2.0), duetruntime (= DCSVER)
Maintainer: Duet3D Packaging Authority <pkg@duet3d.com>
Homepage: https://pkg.duet3d.com
Vcs-Git: https://github.com/Duet3D/DuetSoftwareFramework.git
Description: Control server application for Duet 3 series
