[submodule "lib/CANlib"]
	path = lib/CANlib
	url = https://github.com/Duet3D/CANlib.git
[submodule "lib/CoreN2G"]
	path = lib/CoreN2G
	url = https://github.com/Duet3D/CoreN2G.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/Duet3D/FreeRTOS.git
[submodule "lib/RRFLibraries"]
	path = lib/RRFLibraries
	url = https://github.com/Duet3D/RRFLibraries.git
[submodule "lib/LibTinyusb"]
	path = lib/LibTinyusb
	url = https://github.com/Duet3D/LibTinyusb.git
[submodule "lib/LibMbedTls"]
	path = lib/LibMbedTls
	url = https://github.com/Duet3D/LibMbedTls.git
[submodule "lib/Qfplib-M0-full"]
	path = lib/Qfplib-M0-full
	url = https://github.com/Duet3D/Qfplib-M0-full.git
[submodule "src/DuetCANMaster"]
	path = src/DuetCANMaster
	url = https://github.com/Duet3D/DuetCANMaster.git
