[Unit]
Description=Duet Web Server
Wants=duetcontrolserver.service
After=network.target duetcontrolserver.service

[Service]
WorkingDirectory=/opt/dsf/sd/www
ExecStart=/opt/dsf/bin/DuetWebServer
TimeoutStopSec=15
Type=simple
User=dsf
Group=dsf
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
