[Unit]
Description=Duet Web Server
Wants=duetcontrolserver.service
After=network.target duetcontrolserver.service

[Service]
WorkingDirectory=/opt/dsf/bin
ExecStart=/opt/dsf/bin/DuetWebServer
TimeoutStopSec=15
Type=notify
User=dsf
Group=dsf

[Install]
WantedBy=multi-user.target
