Package: duettools
Version: DCSVER
Section: electronics
Priority: optional
Architecture: TARGET_ARCH
Depends: duetcontrolserver (= DCSVER)
Maintainer: RepRapFirmware <package@reprapfirmware.org>
Homepage: https://reprapfirmware.org
Vcs-Git: https://github.com/chrishamm/DuetSoftwareFramework.git
Description: Optional tools (code examples)
