[Unit]
Description=Duet Plugin Service (root)
BindsTo=duetcontrolserver.service
After=duetcontrolserver.service multi-user.target

[Service]
ExecStart=/opt/dsf/bin/DuetPluginService
TimeoutStopSec=15
Restart=always

[Install]
WantedBy=multi-user.target
