[Unit]
Description=Duet Plugin Service (root)
PartOf=duetcontrolserver.service
After=duetcontrolserver.service multi-user.target
StartLimitIntervalSec=0

[Service]
ExecStart=/opt/dsf/bin/DuetPluginService
WorkingDirectory=/opt/dsf/plugins
KillMode=process
TimeoutStopSec=15
Restart=always
Type=notify
# Allow child processes to stay alive, required when performing system updates affecting DSF

[Install]
WantedBy=multi-user.target
