[Unit]
Description=Duet Plugin Service (root)
PartOf=duetcontrolserver.service
After=duetcontrolserver.service multi-user.target
StartLimitIntervalSec=0

[Service]
ExecStart=/opt/dsf/bin/DuetPluginService
KillMode=process
TimeoutStopSec=15
Restart=always

[Install]
WantedBy=multi-user.target
