[Unit]
Description=Duet Control Server
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/opt/dsf/bin
ExecStart=/opt/dsf/bin/DuetControlServer
TimeoutStopSec=15
Restart=always
RestartSec=5
Type=notify
User=dsf
Group=dsf
UMask=0002
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
IOSchedulingClass=realtime
IOSchedulingPriority=2
# Both need the memory controller, which the Pi firmware disables unless cmdline.txt has cgroup_enable=memory
MemorySwapMax=0
MemoryMin=256M

[Install]
WantedBy=sysinit.target
