[Unit]
Description=Duet Control Server
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/opt/dsf/bin
ExecStart=/opt/dsf/bin/DuetControlServer
TimeoutStopSec=15
Restart=always
RestartSec=5
Type=notify
User=dsf
Group=dsf
UMask=0002
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
IOSchedulingClass=realtime
IOSchedulingPriority=2
MemorySwapMax=0

[Install]
WantedBy=sysinit.target
