[Unit]
Description=Duet Control Server

[Service]
ExecStart=/opt/dsf/bin/DuetControlServer
TimeoutStopSec=15
Restart=always
RestartSec=5
Type=simple
User=dsf
Group=dsf
UMask=0002
AmbientCapabilities=CAP_SYS_PTRACE

[Install]
WantedBy=basic.target
