---
BasedOnStyle: Microsoft
PointerAlignment: Left
QualifierAlignment: Left
NamespaceIndentation: All
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
UseTab: Always
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
PPIndentWidth: 2
